.box{
    border: 5px solid black;
    outline: 3px solid red;
    width: 400px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 11px 50px black;
}
.inputbox{
    width: 250px
    height
    23px;
    border-radius: 7px;
    font-size: 18px;
    font-family: cursive;
    text-align: center;
    color: black(8,8,9);
}
